.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* 1- Write a selector to target the h1 in the first “hero” section */
.jumbotron h1 {
  background-color: rebeccapurple;
}
/* 2- Write a selector to target every children of the navbar */

nav > span {
  background-color: rgb(157, 202, 177);
}

/*  3- Write a selector to target the “continue reading…” inside the jumbotron */

/* 4- Write a selector to target the first blogpost */

/* 5- Write a selector to target the first blogpost <hr> and turn it red */

/* 6- Write a selector to target the “even” links in the navbar */
/* 7- Write a selector to target all the <li> into the first ordered-list in the sidebar ( Archives )*/
/* 8- Write a selector to target the second blog-post author*/
/* 9- Write a selector to target the second <li> in the third blog-post unordered-list*/
/* 10- Write a selector to target the “back to top” link you can find at the bottom-right corner*/
/* 11- Write a selector to target the “Newer” button at the bottom*/
/* 12- Write a selector to target the footer’s second link*/
